@model IEnumerable<BDU_Management.Models.Degree>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="content">
	<!--breadcrumbs-->
	<div id="content-header"></div>
	<!--End-breadcrumbs-->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<table class="table">
					<tr>
						<th>
							Dərəcə Adı
						</th>
						<th></th>
					</tr>

					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.degree_name)
							</td>
							<td>
								@Html.ActionLink("Edit", "Edit", new { id = item.degree_id }) |
								@Html.ActionLink("Details", "Details", new { id = item.degree_id }) |
								@Html.ActionLink("Delete", "Delete", new { id = item.degree_id })
							</td>
						</tr>
					}

				</table>
			</div>
		</div>
	</div>
</div>

@section styles{
	<link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Assets/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="~/Assets/css/uniform.css" />
	<link rel="stylesheet" href="~/Assets/css/select2.css" />
	<link rel="stylesheet" href="~/Assets/css/matrix-style.css" />
	<link rel="stylesheet" href="~/Assets/css/matrix-media.css" />
	<link rel="stylesheet" href="~/Assets/font-awesome/css/font-awesome.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="~/assets/style.css" />
}
@section scripts {
	<script src="~/Assets/js/jquery.min.js"></script>
	<script src="~/Assets/js/jquery.ui.custom.js"></script>
	<script src="~/Assets/js/bootstrap.min.js"></script>
	<script src="~/Assets/js/jquery.uniform.js"></script>
	<script src="~/Assets/js/select2.min.js"></script>
	<script src="~/Assets/js/jquery.validate.js"></script>
	<script src="~/Assets/js/matrix.js"></script>
	<script src="~/Assets/js/matrix.form_validation.js"></script>
}