@{
	ViewBag.Title = "Ana Səhifə";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="content">

	<div id="content-header"></div>

	<div class="container-fluid">
		<div class="row-fluid">
		</div>

		<div class="row-fluid">
			<div class="span6">
				
			</div>

			<div class="span6">
				
			</div>
		</div>
	</div>
</div>
@section styles{
	<link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Assets/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="~/Assets/css/fullcalendar.css" />
	<link rel="stylesheet" href="~/Assets/css/matrix-style.css" />
	<link rel="stylesheet" href="~/Assets/css/matrix-media.css" />
	<link rel="stylesheet" href="~/Assets/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="~/Assets/css/jquery.gritter.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="~/Assets/style.css" />
}
@section scripts {
	<script src="~/Assets/js/excanvas.min.js"></script>
	<script src="~/Assets/js/jquery.min.js"></script>
	<script src="~/Assets/js/jquery.ui.custom.js"></script>
	<script src="~/Assets/js/bootstrap.min.js"></script>
	<script src="~/Assets/js/jquery.flot.min.js"></script>
	<script src="~/Assets/js/jquery.flot.resize.min.js"></script>
	<script src="~/Assets/js/jquery.peity.min.js"></script>
	<script src="~/Assets/js/fullcalendar.min.js"></script>
	<script src="~/Assets/js/matrix.js"></script>
	<script src="~/Assets/js/matrix.dashboard.js"></script>
	<script src="~/Assets/js/jquery.gritter.min.js"></script>
	<script src="~/Assets/js/matrix.interface.js"></script>
	<script src="~/Assets/js/matrix.chat.js"></script>
	<script src="~/Assets/js/jquery.validate.js"></script>
	<script src="~/Assets/js/matrix.form_validation.js"></script>
	<script src="~/Assets/js/jquery.wizard.js"></script>
	<script src="~/Assets/js/jquery.uniform.js"></script>
	<script src="~/Assets/js/select2.min.js"></script>
	<script src="~/Assets/js/matrix.popover.js"></script>
	<script src="~/Assets/js/jquery.dataTables.min.js"></script>
	<script src="~/Assets/js/matrix.tables.js"></script>
}
